* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --cor: #0066CC;
  --cor-claro: #0074E8;
  --cor-escuro: #0059B3;
  --cor-verde: #008D00;
  --cor-verde-claro: #D9FAD9;
  --cor-azul: #0066CC;
  --cor-azul-claro: #CCE8FF;
  --cor-vermelho: #D23A01;
  --cor-vermelho-claro: #FFE1DD;
  --cor-abobora: #FF9800;
  --cor-abobora-claro: #FFEBBF;
  --cor-amarelo: #FFB400;
  --cor-amarelo-claro: #FFFFC8;
  --cor-cinza: #E0E0E0;
  --cor-cinza-claro: #F4F4F4;
  --cor-cinza-escuro: #C4C4C4;
  --cor-preto: #000000;
  --cor-branco: #FFFFFF;
  --fonte: 'Open Sans', 'Open Sans Aux', Arial, Helvetica, Tahoma, sans-serif;
  --tamanho-fonte: 13px;
  --cor-fonte: #323232;
  --cor-fonte-preto: #000000;
  --cor-fonte-verde: #008D00;
  --cor-fonte-azul: #0066CC;
  --cor-fonte-vermelho: #D23A01;
  --cor-fonte-abobora: #FF9800;
  --cor-fonte-amarelo: #FFB400;
  --cor-fonte-cinza: #797979;
  --cor-fonte-cinza-escuro: #616161;
  --cor-fonte-cinza-claro: #9E9E9E;
  --cor-fonte-branco: #FFFFFF;
  --cor-rodape: #0059e1;
  --cor-borda: #D9D9D9;
  --cor-borda-escura: #C4C4C4;
  --lg-brd: none;
  --cor-brd: #D23A01;

  /**Cores do projeto Exercícios **/
  --cor-exer-azul: #0059e1;
  --cor-exer-azul-claro: #ddecff;  
  --cor-exer-preto: #212121;
  --cor-exer-cinza1:#747474;
  --cor-exer-cinza2:#dcdcdc;
  --cor-exer-cinza3:#f9f9f9;
}

body {
  border: var(--lg-brd) solid var(--cor-verde);
  background: var(--cor-exer-cinza3);
  font-family: 'Open Sans', sans-serif;
  width: 100%;
}

#principal {
  border: var(--lg-brd) solid var(--cor-brd);
  width: 100%;
}

#topo {
  position: absolute;
  border: var(--lg-brd) solid var(--cor-brd);
  box-sizing: border-box;
  height: 97px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#topo-branco {
  position: absolute;
  border: var(--lg-brd) solid var(--cor-brd);
  box-sizing: border-box;
  height: 97px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
}

#logo{
  height: 40px;
  color: #FFFFFF; 
  display: flex; 
  left: 100px;
}

.class-logo-img {
  text-align: center;
}

.class-logo-nome {
  position: absolute;
  color: #Fafafa; 
  left: 70px;  
  top:37px;
}

#menu-topo {
  border: var(--lg-brd) solid var(--cor-brd);
  display: flex;
  list-style: none;
}

#menu-principal {
  position: relative;
  border: var(--lg-brd) solid var(--cor-brd);
  height: 120px;
  margin-top: -52px;
}

#menu-centro {
  display: flex;
  border: var(--lg-brd) solid var(--cor-brd);
  margin: auto;
  list-style: none;
  height: 100%;
  width: 100%;
  top: 30px;
  align-items: center;
  position: relative;
  top: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#menu-por{
  display: flex;
  width: 170px;
}

.menu-por-descricao{
  position: relative;
  color:var(--cor-exer-cinza1);
  font-size: 12px;
  font-weight: 600;

}

.class-botao-Menu {
  border: var(--lg-brd) solid var(--cor-brd);
  font-size: 15px;
  width: 100px;
  display: block;
  margin: auto;
  text-align: center;
  align-items: center;
}

.class-btn-redondo {
  position: relative;
  border: 2px solid var(--cor-branco);
  padding: 2px;
  align-items: center;
  background-color: var(--cor-exer-azul);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  left: 15px;
}

.class-btn-redondo-Label{
  font-size: 13px;  
  font-weight: 400;
  font-family: 'Open Sans', sans-serif; 
  color: #000000;
}

.img-botao-icones {
  position: relative;
  top: 14px;
}

.class-btn-Menu {
  border: var(--lg-brd) solid var(--cor-brd);
  font-size: 13px;
  font-weight: 500;
  color: var(--cor-branco);
  height: 300px;
}

.class-btn-Menu-preto {
  border: var(--lg-brd) solid var(--cor-brd);
  font-size: 13px;
  font-weight: 500;
  color: var(--cor-exer-preto);
  height: 300px;
}

.link-titulo-branco{
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
}

.link-titulo-preto{
  color: var(--cor-exer-preto);
  text-decoration: none;
  font-size: 13px;
  font-weight: 500; 
}

.banner-branco{
  border: var(--lg-brd) solid var(--cor-brd);  
  background-color: #fff;
  height: 90px;;
}









/**Campo de busca**/
#busca {
  border: var(--lg-brd) solid var(--cor-brd);
  position: absolute;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 62px;
  top: 345px;
}

#divBusca {
  border: var(--lg-brd) solid var(--cor-brd);
  display: block;
  margin: 20px auto;
  position: relative;
  align-items: center;
  background-color: var(--cor-branco);
  border-radius: 30px;
  width: 523px;
  height: 62px;
}

#txtBusca {
  border: var(--lg-brd) solid var(--cor-brd);
  float: left;
  background-color: transparent;
  padding-left: 5px;
  font-size: 14px;
  border: none;
  height: 55px;
  width: 445px;
  color: var(--cor-exer-cinza1);
  padding-left: 20px;
}

#btnBusca {
  border: var(--lg-brd) solid var(--cor-brd);
  float: left;
  height: 32px;
  width: 70px;
  align-items: center;
  top: 15px;
}

#divBusca img {
  position: absolute;
  top: 18px;
  border: var(--lg-brd) solid var(--cor-brd);
  align-items: center;
  float: left;
  width: 25px;
  height: 25px;
}









#conteudo {
  border: var(--lg-brd) solid var(--cor-brd);
  margin-bottom: 100px;
}

.img-banner {
  border: var(--lg-brd) solid var(--cor-brd);
  width: 100%;
}

.class-topo1 {
  border: var(--lg-brd) solid var(--cor-brd);
  position: absolute;
  text-align: center;
  font-size: 45px;
  color: var(--cor-branco);
  top: 270px;
  width: 100%;
  line-height: 0;
  font-weight: bold;
}

.class-topo2 {
  border: var(--lg-brd) solid var(--cor-brd);
  position: absolute;
  font-size: 14px;
  font-weight: 700;
  color: var(--cor-fonte-cinza-claro);
  top: 300px;
  width: 100%;
  text-align: center;
}

#bloco-sessao{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.class-bloco-titulo{
  border: var(--lg-brd) solid var(--cor-brd);
  text-align: center;
  color: var(--cor-exer-preto);
  font-size: 24px;
  font-weight: 700;
  padding: 50px;
}

.class-bloco-exercicio {
  border-radius: 10px;
  background: var(--cor-branco);
  width: 240px;
  height: 260px;
  -webkit-box-shadow: 0px 10px 38px -23px rgba(97,96,97,1);
  -moz-box-shadow: 0px 10px 38px -23px rgba(97,96,97,1);
  box-shadow: 0px 10px 38px -23px rgba(97,96,97,1);
}

.class-bloco-exercicio ul {
  padding: 0;
  margin: 0;
}

.class-bloco-exercicio ul li {
  list-style: none;
}

.class-bloco-tag {
  border: var(--lg-brd) solid var(--cor-brd);
  position: relative;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background: var(--cor);
  top: 20px;
  height: 13px;
  width: 35px;
  color: var(--cor-branco);
  font-size: 9px;
  text-align: center;
}

.class-bloco-img {
  border: var(--lg-brd) solid var(--cor-brd);
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.class-bloco-NomeExercicio {
  border: var(--lg-brd) solid var(--cor-brd);
  position: relative;
  top: 5px;
  text-align: center;
  color: var(--cor-exer-preto);
  font-size: 14px;
  font-weight: 700;
}

#bloco-rodape {
  display: flex;
  border: var(--lg-brd) solid var(--cor-brd);
  position: relative;
  top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.class-bloco-musculo {
  font-family: 'Open Sans', sans-serif;   
  border: var(--lg-brd) solid var(--cor-brd);
  background: var(--cor-exer-azul-claro);
  color: var(--cor-exer-azul);
  border-radius: 5px;
  font-size: 11px;
  font-weight: 400;
  text-align: center;
  margin: 2px;
}









/**Exercícios mais relevantes **/
#exercicios-relevantes{
  background-color: var(--cor-exer-azul);
}

#titulo-exercicios-relevantes{
  border: var(--lg-brd) solid var(--cor-brd);
  position: relative;
  top: 50px;
  text-align: center;
  color: var(--cor-branco);
  font-size: 24px; 
  font-weight: 700;
  height: 120px;
}

.flex-relevantes{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#bloco-exercicios-relevantes{
  border: var(--lg-brd) solid var(--cor-brd);  
  margin-top: 0px;
}

.container-exercicios-relevantes{
  border: var(--lg-brd) solid var(--cor-brd);  
  background-color: #FFFFFF;
  border-radius: 10px;
  height: 100px;
  width: 470px;
}

.nome-exercicio-relevantes{
  border: var(--lg-brd) solid var(--cor-brd);  
  position: relative;
  top: 5px;
  color: var(--cor-exer-preto);
  font-size: 14px;
  font-weight: 700;
  top: 32px;
  left: 30px;
  width: 340px;
}

.nome-musculos-relevantes{
  border: var(--lg-brd) solid var(--cor-brd);  
  position: relative;
  top: 5px;
  font-family: 'Open Sans', sans-serif; 
  color: var(--cor-exer-azul);
  top: 36px;
  left: 30px;
  width: 340px;
  font-size: 13px;
  font-weight: 400;
}

.img-musculos-relevantes{
  border: var(--lg-brd) solid var(--cor-brd);  
  position: relative;  
  height: 80px;
  width: 80px;
  left: 370px;
  top: -22px;
  align-items: center;
}









/**Exercícios por grupo muscular**/
.exercicios-grupo-muscular{
}

.class-group-grupo-musculares{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
}

.container-grupos-musculares{
  border-radius: 10px;
  background: var(--cor-branco);
  width: 240px;
  height: 260px;
  -webkit-box-shadow: 0px 10px 38px -23px rgba(97,96,97,1);
  -moz-box-shadow: 0px 10px 38px -23px rgba(97,96,97,1);
  box-shadow: 0px 10px 38px -23px rgba(97,96,97,1);

}

.img-grupos-musculares{
  position: relative;
  width: 100%;
  top: 50px;
  left: 78px;

}

.nome-musculo-grupos-musculares{
  width: 100%;
  text-align: center;
  position: relative;
  top: 5px;
  color: var(--cor-exer-preto);
  font-size: 14px;
  font-weight: 700;
  top: 60px;
}









/**RODAPÉ **/
#rodape {
  border: var(--lg-brd) solid var(--cor-brd);
  background: var(--cor-rodape);
  color: var(--cor-branco);
  height: 220px;
}

.titulo-rodape {
  border: var(--lg-brd) solid var(--cor-brd);
  font-size: 14px;
  text-align: left;
  padding-top: 50px;
  margin-left: 200px;
}

.texto-rodape {
  border: var(--lg-brd) solid var(--cor-brd);
  font-size: 12px;
  text-align: left;
  padding-top: 10px;
  margin-left: 200px;
}









.logoSCA {
  border: var(--lg-brd) solid var(--cor-brd);
  position: relative;
  top: -120px;
  left: 1200px;
}

.class-sugestao{
  border: var(--lg-brd) solid var(--cor-brd);
  align-items: center;
}

#form-contato{
  border: var(--lg-brd) solid var(--cor-brd);
  align-items: center;
  width: 1000px;
  height: 400px;
  border-radius: 10px;
  background-color: var(--cor-exer-cinza3);
}

.logo-contato{
  border: var(--lg-brd) solid var(--cor-brd);  
  align-items: center;
}

.class-titulo-Sugestao{
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.class-subtitulo-Sugestao{
  font-size: 12px;
  text-align: center;  
}

.class-campo{

}

a{
  text-decoration: none;
  padding: 5px;
}

.traco-azul-claro{
  height: 20px;
  background-color: var(--cor-azul-claro);
}









/**Cabecalho**/
#cabecalho-pagina{
  position: relative;
  background-color: var(--cor-exer-azul);
  height: 110px;
}

#cabecalho-pagina-centro{
  position: relative;
  top: 20px;
  background-color: var(--cor-exer-azul);
  height: 30px;
  align-items: center;
  width: 100%;
}

#cabecalho-itens{
  display: flex;
  position: relative;
  list-style: none;
  top: 27px;
  align-items: center;  
  width: 68%;
  left: 16%;
}

.cabecalho-tipo{
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  position: relative;
}

.cabecalho-seta-maior{
  font-size: 13px;
  font-weight: 400;
  color: #fff;  
  position: relative;
  left: 5px;
  top: 1px;  
}

.cabecalho-musculo{
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  position: relative;
  left: 5px;
}

.cabecalho-seta-voltar{
  position: relative;
  left: 6450%;
}

.cabecalho-voltar{
  position: relative;
  font-size: 13px;
  font-weight: 700;
  color: #fff; 
  left: 1690%;
}









/**Descrição dos exercícios**/
#descricao-exercicio{
  display: flex;
  background-color: #fff;
  align-items: center;  
}

.descricao-esquerda{
  position: relative;
  display: flex;
  width: 550px;  
  left: 12%;
}

#descricao-itens{
  padding: 70px;
  position: relative;
  width: 1000px;
}

.descricao-titulo{
  position: relative;
  font-size: 24px;
  font-weight: 700;
}

.descricao-descricao{
  position: relative;
  margin-top: 15px; 
  font-size: 13px;
  font-weight: 400;
}

.descricao-lista-group{
  margin-top: 35px;
  display: flex; 
}

#descricao-lista-itens{
  display: block;  
  width: 190px;
  height: 45px;
}

.descricao-redondo{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: var(--cor-exer-azul-claro);
}

.descricao-img{
  position: relative;
  left: 15px;
  top: 11px;
}

.descricao-sub-preto{
  position: relative;
  font-size: 12px;
  left: 46px;
  top: -35px;
}

.descricao-sub-azul{
  position: relative;  
  color: var(--cor-exer-azul);
  font-size: 13px;
  font-weight: 600; 
  left: 46px;
  top: -37px;    
}

.descricao-subtitulo{
  position: relative;
  margin-top: 35px;
  font-size: 14px;
  font-weight: 700;
}

.descricao-como-realizar{
  position: relative;
  margin-top: 15px; 
  font-size: 13px;
  font-weight: 400;
}

.descricao-como-realizar-itens{
  position: relative;
  left: 15px;
}

#traco-divisor{
  background-color: red;
  width: 1px;
}