body{
  background: #fff;
  font-family: 'Open Sans', sans-serif;
}

#principal{
  
   
}

#menu{
  position: absolute;
  border: 1px solid red; 
  height: 70px;
  top: 490px;
  left: 650px;
  padding: 10px;
}

#conteudo{
  margin-top: 100px;
  background-color: #f9f9f9; 

}

.bloco-titulo{
  text-align: center;
  color: #323232;
  font-size: 20px;
  font-weight:bold;
}

.msg-topo{
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-size: 43px;
  color:#fff;
  top: 280px;
  left: 33%;
  line-height: 0px;  
  font-weight: bold;
}

.msg-topo2{
  position: absolute;
  font-family: 'Montserrat', Sans-serif;
  font-size: 15px;
  color: #fff;
  top: 305px;
  left: 33%;
  text-align: center;
  font-weight: bold;
}

.botao-Menu{
  color: #323232;
  font-size: 15px;
}

#rodape{
  background: #0059e1;
  color: #fff;
  height: 220px;
}

.titulo-rodape{
  font-size: 14px;
  text-align: left;
  padding-top: 50px;
  margin-left: 200px;
}

.texto-rodape{
  font-size: 12px; 
  text-align: left; 
  padding-top: 10px;
  margin-left: 200px;
}

.logoSCA{
  position: relative;
  top: -120px;
  left: 1600px;
}

a{
  color: #2c2e31; 
  text-decoration: none;
   padding: 5px;
}